/* Apply gradient to both html and body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 150vh; /* Increase the height to allow for scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}



/* Main login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 1200px;
}

/* Set container widths */
.left-section, .login-box {
    width: 35%;
}

/* Styling for left section */
.left-section {
    color: white;
    padding: 20px;
}

.login-box {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .login-box, .left-section {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .login-box, .left-section {
        width: 80%;
    }
}
